* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: #000;
  text-align: center;
  border: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
body {
  background-color: #f2efef;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  cursor: pointer;
}
h2 {
  font-family: Itim, cursive;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
}
.users {
  padding: 40px 0;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.info {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}
.info_card {
  width: 180px;
  height: 283px;
  background-color: #fff;
  box-shadow: 0 4px 4px #00000040;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info_card img {
  width: 164px;
  height: 140px;
}
.info_card h4 {
  text-align: left;
  color: #009af0;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 1.2%;
}
.info_card p {
  text-align: left;
  color: #1e1e1e;
  font-weight: 400;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 1.2%;
}
.info_card button {
  width: 56px;
  height: 19px;
  border-radius: 4px;
  gap: 10px;
  margin-bottom: 14px;
  background-color: #009af0;
  color: #fff;
  font-weight: 700;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 1.2%;
}
.user_card {
  width: 319px;
  height: 508px;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.bg-true {
  background-color: #fcf2e5;
}
.bg-false {
  background-color: #fff;
}
.user_card img {
  width: 271px;
  height: 271px;
}
.user_card h3 {
  font-weight: 900;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: 0%;
}
.jobs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user_card p {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
