h2 {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
}

.users{
  padding: 40px 0;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.info{
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}
