* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #000000;
  text-align: center;
  border: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background-color: #f2efef;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  cursor: pointer;
}
